body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero-image {
    background-image: url('../images/hero-image.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.clickable-items {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.clickable-item {
    margin: 0 15px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.clickable-item img {
    width: 150px;
    height: auto;
    cursor: pointer;
}

.clickable-item p {
    margin-top: 5px;
    font-size: 18px;
}
